dist: trusty
sudo: false
language: cpp

compiler:
  - gcc
  - clang

matrix:
  include:
  - os: linux
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - g++-8
    env:
    - MATRIX_EVAL="CC=gcc-8 && CXX=g++-8"
    
  include:
  - os: linux
    addons:
      apt:
        sources:
          - llvm-toolchain-trusty-6.0
        packages:
          - clang-6.0
    env:
    - MATRIX_EVAL="CC=clang-6.0 && CXX=clang-6.0"
    
before_install:
- eval "${MATRIX_EVAL}"
    
script:
# Call build system
  - cmake .
  - cmake --build . -- VERBOSE=1
    