branches:
  only:
  - master
clone_folder: c:\projects\source
image:
- Visual Studio 2017
- Visual Studio 2019
configuration:
- Debug
- Release
platform:
- x64

init:
- echo %APPVEYOR_BUILD_WORKER_IMAGE%
- if "%APPVEYOR_BUILD_WORKER_IMAGE%"=="Visual Studio 2017" ( set generator="Visual Studio 15 2017 Win64" )
- if "%APPVEYOR_BUILD_WORKER_IMAGE%"=="Visual Studio 2019" ( set generator="Visual Studio 16 2019 Win64" )
- echo %generator%
  
before_build:
- cmd: |-
    mkdir build
    cd build
    cmake --version
    cmake c:\projects\source -G %generator%
    
build:
  project: c:\projects\source\build\ePugStation.sln
  parallel: true